
<div class="container">

  <div class="card" id="image-card">
      <div class="card-img">
          <img class="img" src="./assets/images/batman.jpg" alt="Card image">
      </div>
  </div>
  
  <div class="card" id="data-card"> 
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                          the card's content.Some quick example text to build on the card title and make 
                          up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of
                          the card's content.Some quick example text to build on the card title and make 
                          up the bulk of the card's content  </p>
      <a href="#" class="btn btn-primary">Like</a>
    </div>
  </div>

</div>

