<div class="wrapper">
  <div class="mycontainer">
    <app-nav-bar></app-nav-bar>
    <div class="feeds">
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
    </div>
    <div class="more">
        <app-load-more></app-load-more>
    </div>
    <app-footer></app-footer>
  </div>
</div>

