.mycontainer{
    display: flex;
    flex-flow: column;
    justify-content: space-between;  
}

.feeds{
    display: flex;
    flex-flow: column;
    padding: 10px;
}
.more{
    display: flex;
    justify-content: center;
}